target/
!.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr


nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.vscode/settings.json

frontend-react/node_modules/
frontend-react/build/
frontend-react/.env
